{% extends "::base.html.twig" %}
   {% block body %}
   <body ng-app="project_api" ng-controller="getProjects">
      <p ng-repeat="project in allProjects">{% verbatim %}{{ project.projectName }}{% endverbatim %}</p>
      <script src="{{ asset('js/angular.js') }}"></script>
      <script>

      </script>
   </body>
   {% endblock body %}

